*.bkp
*.egg-info
*.pyc
airflow/www/static/coverage/
.ipynb*
docs/_*
airflow.db
airflow.cfg
build
cover
.coverage
dbinit.py
dist
env
initdb.py
logs
MANIFEST
secrets.py
unittests.cfg
.DS_Store
airflow_login.py
